<header>
    <div class="container">
      <a routerLink="/" class="logo">Food Corner 😋</a>
      <nav>
        <ul>
          <li>
            <a href="#" routerLink="/profile">
              <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile" class="icon" />
            </a>
          </li>
          <li>
            <button (click)="logout()" class="logout-btn">Logout</button>
          </li>
          <li>
            <a href="#" routerLink="/cart-page">Cart</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  