header {
    background-color: white;
    padding: 0;
    border-bottom: 2px solid #e72929;
  }
  
  a {
    color: #af1313;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #e72929;
    color: white;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  a.logo {
    padding: 0.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a, .logout-btn {
    padding: 1em 1.2em;
    background: none;
    border: none;
    color: #af1313;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
  align-items: center;
  }
  
  nav ul li a:hover, .logout-btn:hover {
    background-color: #e72929;
    color: white;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  