<app-not-found
  [visible]="!food"
  notFoundMessage="Product Not Found!"
  resetLinkText="Back To HomePage"
></app-not-found>
<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
      <span class="favourite" [ngClass]="food.favourite ? '' : 'not'"> ❤ </span>
    </div>
    <div class="rating">
      <app-star-rating [stars]="food.stars" [size]="1.5" />
    </div>
    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{ origin }}
      </span>
    </div>
    <div class="tags">
      <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
    </div>
    <div class="cook-time">
      <span>
        Time to cook about <strong>{{ food.cookTime }}</strong> minutes
      </span>
    </div>
    <div class="price">
      {{ food.price | currency : "INR" : "symbol" }}
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
